.lazyload {
  width: 100px;
  height: 100px;
  background-color: black;
  display: inline-block;
}

.wide {
  width: 200%;
}

.padding {
  width: 80%;
  display: inline-block;
}

.overflow {
  height: 300px;
  overflow: auto;
}

.content {
  height: 1000px;
  background-color: gray;
}
